.block
  .secondary-navigation
    %ul
      %li.first
        = link_to 'List', <%= controller_routing_path %>_path
      %li.active
        = link_to 'New', new_<%= singular_controller_routing_path %>_path
    .clear
  .content
    %h2.title
      New
      <%= model_name %>
    .inner
      - form_for :<%= model_name.downcase  %>, :url => <%= controller_routing_path %>_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
