* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both;
  height: 0; }

h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal; }

h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal; }

h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal; }

h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal; }

hr {
  height: 1px;
  border: 0; }

p {
  margin: 15px 0; }

a img {
  border: none; }

body {
  font-size: 12px;
  font-family: sans-serif; }

#container {
  min-width: 960px; }

#header, #wrapper {
  padding: 0 20px; }

#header {
  position: relative;
  padding-top: 1px; }
  #header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 30px; }
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      text-decoration: none; }

#main {
  width: 70%;
  float: left; }

.actions-bar {
  padding: 10px 1px; }
  .actions-bar .actions {
    float: left; }
  .actions-bar .pagination {
    float: right;
    padding: 1px 0; }

#sidebar {
  width: 25%;
  float: right; }
  #sidebar h3 {
    padding: 10px 15px;
    margin: 0;
    font-size: 13px; }
  #sidebar .block {
    margin-bottom: 20px;
    padding-bottom: 10px; }
    #sidebar .block .content {
      padding: 0 15px; }
  #sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
    display: block;
    padding: 10px 15px; }
  #sidebar .block .sidebar-block, #sidebar .notice {
    padding: 10px; }

#wrapper {
  padding-top: 20px; }

#main .block {
  margin-bottom: 20px;
  padding-top: 1px; }
  #main .block .content .inner {
    padding: 0 15px 15px; }
#main .main p.first {
  margin-top: 0; }

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px; }

#main-navigation {
  width: 100%; }

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left; }

#main-navigation ul li {
  margin-right: 5px; }

#user-navigation ul li {
  padding: 5px 10px; }

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  text-decoration: none; }

.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none; }

#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none; }

#main-navigation ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px; }

.secondary-navigation {
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid; }
  .secondary-navigation ul li a {
    display: block;
    padding: 10px 15px; }

#footer {
  padding-bottom: 20px; }

.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px; }
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px; }
  .pagination span.current {
    font-weight: bold; }
.pagination a {
  text-decoration: none; }

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px; }
  .table th {
    padding: 10px;
    font-weight: bold;
    text-align: left; }
    .table th.first {
      width: 30px; }
    .table th.last {
      width: 200px; }
  .table .checkbox {
    margin-left: 10px; }
  .table td {
    padding: 10px; }
    .table td.last {
      text-align: right; }

input.checkbox {
  margin: 0;
  padding: 0; }

.form .group {
  margin-bottom: 15px; }
.form div.left {
  width: 20%;
  float: left; }
.form div.right {
  width: 75%;
  float: right; }
.form .columns .column {
  width: 48%; }
.form .columns .left {
  float: left; }
.form .columns .right {
  float: right; }
.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0; }
.form label.right {
  text-align: right; }
.form input.checkbox, .form input.radio {
  margin-right: 5px; }
.form label.checkbox, .form label.radio {
  line-height: 1.5em; }
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold; }
.form div.fieldWithErrors label.label {
  display: inline; }
.form .fieldWithErrors .error {
  color: red; }
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid; }

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.list li {
    clear: left;
    padding-bottom: 5px; }
    ul.list li .left {
      float: left; }
      ul.list li .left .avatar {
        width: 50px;
        height: 50px; }
    ul.list li .item {
      margin-left: 80px; }
      ul.list li .item .avatar {
        float: left;
        margin: 0 5px 5px 0;
        width: 30px;
        height: 30px; }

#box {
  width: 500px;
  margin: 50px auto; }
  #box .block {
    margin-bottom: 20px; }
    #box .block h2 {
      padding: 10px 15px;
      margin: 0; }
    #box .block .content {
      padding: 10px 20px; }

.small {
  font-size: 11px; }

.gray {
  color: #999999; }

.hightlight {
  background-color: #FFFFCC; }

a {
  -moz-outline: none; }
  a:link, a:visited, a:hover, a:active {
    color: #7a1818; }

h1, h2, h3 {
  color: #7a1818; }

hr {
  background: #f0f0ee;
  color: #f0f0ee; }

ul.list li {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  ul.list li .item .avatar {
    border-color: #F0F0EE;
    border-width: 1px;
    border-style: solid;
    padding: 2px; }

body {
  color: #222;
  background: #f0f0ee;
  font-family: helvetica, arial, sans-serif; }

#main {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  #main .block {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    #main .block .content {
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px;
      background: #ffffff;
      padding-top: 1px; }
      #main .block .content h2 {
        margin-left: 15px; }

#box .block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #FFF; }
  #box .block h2 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #7a1818;
    color: #FFF; }

.table {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .table th {
    background: #262626;
    color: #FFF; }
    .table th.first {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px; }
    .table th.last {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px; }
  .table td {
    border-bottom: 1px solid #F0F0EE; }

#header {
  background: #7a1818; }
  #header h1 {
    padding: 20px 0; }
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      color: #FFF; }

#footer .block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  background: #262626; }
  #footer .block p {
    margin: 0;
    padding: 10px; }

.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px; }
  .flash .message p {
    margin: 8px; }
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc; }
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6; }

#main-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  background: #262626; }
  #main-navigation ul li {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #262626;
    padding-left: 15px;
    margin-right: 0; }
    #main-navigation ul li.active {
      background: #f0f0ee;
      padding: 0;
      margin-left: 15px; }
      #main-navigation ul li.active a {
        padding: 8px 15px; }
        #main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
          color: #262626; }
    #main-navigation ul li a {
      padding: 8px 0; }
      #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
        text-decoration: none;
        color: #FFF; }

.secondary-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  background: #7a1818;
  border-bottom-color: #262626; }
  .secondary-navigation ul li.first {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px; }
    .secondary-navigation ul li.first a {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px; }
  .secondary-navigation ul li.active {
    background-color: #262626; }
    .secondary-navigation ul li.active a:hover {
      background-color: #262626; }
  .secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
    text-decoration: none;
    color: #FFF; }
  .secondary-navigation ul li a:hover {
    background: #470E0E; }

#user-navigation {
  top: auto;
  bottom: 5px;
  right: 25px; }
  #user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
    text-decoration: none;
    color: #FFF; }

#sidebar {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #sidebar .block {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ffffff; }
  #sidebar h3 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #7a1818;
    color: #ffffff;
    border-bottom: 10px solid #262626; }
  #sidebar ul.navigation {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px; }
  #sidebar ul li a:link, #sidebar ul li a:visited {
    background: #ffffff;
    border-bottom: 1px solid #f0f0ee;
    text-decoration: none; }
  #sidebar ul li a:hover, #sidebar ul li a:active {
    background: #470E0E;
    color: #ffffff; }

.pagination span.current {
  background: #262626;
  color: #ffffff;
  border-color: #262626; }
.pagination a {
  color: #262626;
  border-color: #262626; }
  .pagination a:hover {
    color: #ffffff;
    background: #262626; }

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid;
  border-color: #262626; }
.form input.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #eeeeee;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid;
  border-color: #262626;
  cursor: pointer; }
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: .9em; }
